<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3 bioContainer">
    <img class="img-circle " src="https://twitter.com/<%= @user.twitterhandle %>/profile_image?size=bigger" alt=""/>
    <h3><%= @user.firstname %> <%= @user.lastname %><br/><i>
      <small>@<%= @user.twitterhandle %></small>
    </i></h3>
    <p><%= @user.bio %></p>
    <% unless current_user.nil? %>
        <% if current_user == @user %>

            <p><%= link_to 'Authorize', $fboauth.url_for_oauth_code(permissions: "manage_pages publish_pages") %> your
              Facebook account for native exports!</p>
        <% end %>
    <% end %>
  </div>

</div>
<div class="container-fluid">
  <% lastID=@user.periscopes.where(completed: true).order(created_at: :desc).last.id
     @user.periscopes.where(completed: true).order(created_at: :desc).each_with_index do |periscope, index| %>
      <% if (index%4 == 0) %>
          <div class="row">
      <% end %>
      <%= render partial: 'periscopes/preview', locals: {periscope: periscope} %>
      <% if (index%4 ==3 || lastID == periscope.id) %>
          </div>
      <% end %>
  <% end %>
</div>